@font-face {
  font-family: "Wayfinder CF";
  src: url("../../fonts/WayfinderCF-ThinItalic.eot");
  src: url("../../fonts/WayfinderCF-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/WayfinderCF-ThinItalic.woff2") format("woff2"),
    url("../../fonts/WayfinderCF-ThinItalic.woff") format("woff"),
    url("../../fonts/WayfinderCF-ThinItalic.ttf") format("truetype"),
    url("../../fonts/WayfinderCF-ThinItalic.svg#WayfinderCF-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Wayfinder CF";
  src: url("../../fonts/WayfinderCF-Thin.eot");
  src: url("../../fonts/WayfinderCF-Thin.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/WayfinderCF-Thin.woff2") format("woff2"),
    url("../../fonts/WayfinderCF-Thin.woff") format("woff"),
    url("../../fonts/WayfinderCF-Thin.ttf") format("truetype"),
    url("../../fonts/WayfinderCF-Thin.svg#WayfinderCF-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../fonts/Satoshi-Regular.eot");
  src: url("../../fonts/Satoshi-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../../fonts/Satoshi-Regular.woff") format("woff"),
    url("../../fonts/Satoshi-Regular.ttf") format("truetype"),
    url("../../fonts/Satoshi-Regular.svg#Satoshi-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
